@tailwind base;
@tailwind components;
@tailwind utilities;

/* Before/After slider overlay */
.after {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: contain;
}
